apiVersion: v1
kind: Service
metadata:
  name: project-argocd
  namespace: project-argocd-dev
  labels:
    app.kubernetes.io/name: project-argocd
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: project-argocd
  ports:
    - name: http
      port: 80
      targetPort: 5000
